@import 'base';

section {
  &.about-section {
    .sidebar {
      margin: 0 20px 20px 0;
      strong { font-size: 28px; }
      + p {
        border: 1px solid #CCC;
        @include box-sizing;
        padding: 20px;
        line-height: 24px;
        float: right;
        width: 960px;
        &:first-letter {
          font-size: 50px;
          float: left;
          margin-top: 10px;
          color: $green;
        }
      }
    }
    .content { margin-top: 60px; }
  }
}
