.home-cover-photo {
  width: 100%;
  min-width: $viewport-width;
}

.meals {
  h2, h4 {
    text-align: center;
  }
}

.food-items {
  .tile-item {
    background: white;
    border: 1px solid #CCC;
  }
  img {
    display: block;
    margin: 20px auto 0;
    height: 162px;
    width: auto;
  }
}

.about {
  .tile-item {
    .view-more {
      position: absolute;
      right: $tile-padding;
      bottom: $tile-padding;
      color: $link-color;
    }
    padding-bottom: $tile-padding * 2 !important;
  }
  h3, h4 {
    padding: 10px 0;
    text-align: center;
  }
}