.home-cover-photo {
  width: 100%;
  min-width: $viewport-width;
}

.meals {
  h2, h4 {
    text-align: center;
  }
}

.food-items {
  .tile-item {
    background: white;
    border: 1px solid #CCC;
    padding: 0 !important;
    height: 250px;
    overflow: hidden;

    &:hover {
      @include transition(all 0.2s);
      img {
        @include transition(all 0.2s);
        @include transform(scale(1.1));
      }
      .banner {
        @include transition(all 0.2s);
        @include transform(scale(1.2));
        margin-left: 4px;
        &:after { left: 99%; }
      }
    }
  }
  img {
    display: block;
    width: 100%;
    @include transition(all 0.2s);
  }

  .banner {
    $banner-color: #99C33D;
    position: absolute;
    left: 0;
    bottom: $tile-padding;
    padding: 10px;
    background: $banner-color;
    color: white;
    font-size: 18px;
    @include transition(all 0.2s);

    &:after {
      content: '';
      height: 0;
      width: 0;
      border-left: 15px solid $banner-color;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}

.about {
  .tile-item {
    .view-more {
      position: absolute;
      right: $tile-padding;
      bottom: $tile-padding;
      color: $link-color;
    }
    padding-bottom: $tile-padding * 2 !important;
  }
  h3, h4 {
    padding: 10px 0;
    text-align: center;
  }
}