.meals {
  h2, h4 {
    text-align: center;
  }
}

.food-items {
  .tile-item {
    background: white;
    border: 1px solid #CCC;
  }
  img {
    display: block;
    margin: 20px auto 0;
    height: 162px;
    width: auto;
  }
}

.about {
  .tile-item {
    background: white;
    border: 1px solid #CCC;
    position: relative;
    h3 {
      padding-bottom: 10px;
      text-align: center;
    }
    .view-more {
      position: absolute;
      right: $tile-padding;
      bottom: $tile-padding;
    }
    padding-bottom: $tile-padding * 2;
  }
  p {
    line-height: 24px;
  }
  h3, h4 {
    padding: 10px 0;
    text-align: center;
  }
}