.product-box {
  @include box-sizing;
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px;
  position: relative;
}

.sizes {
  margin-bottom: 20px;
  span {
    display: inline-block;
    border: 2px solid $dark-highlight;
    padding: 3px 6px;
    cursor: pointer;
    margin: 0 0 5px 5px;
    &:first-child {
      margin-left: 0;
    }
    &:hover, &.selected {
      background: $dark-highlight;
      color: white;
    }
  }
}

.colors {
  margin-bottom: 20px;
  max-width: 450px;
  &.no-margin {
    margin-bottom: 0px;
  }
  .color {
    display: inline-block;
    border: 2px solid #EEE;
    cursor: pointer;
    margin-left: 5px;
    @include box-sizing;
    &:hover, &.selected {
      border: 2px solid $dark-highlight;
    }
    &.color-preview {
      margin: -1px 0 -5px 20px;
      div {
        width: 44px;
        height: 44px;
        cursor: default;
      }
      &:hover {
        border: 2px solid #EEE;
      }
    }
    div {
      width: 28px;
      height: 28px;
      margin: 2px;
    }
    @include box-sizing;
  }
}

.tile-item.padded { padding-bottom: 92px !important; }

.price {
  font-size: 38px;
  display: block;
  background: $dark-grey;
  padding: 19px;
  @include border-radius(2px);
  color: white;
  text-align: center;
}