%section
  .container
    %h2 Login
%section
  .container
    = form_tag sessions_path, method: :post do
      .input-container
        .input
          %label{ for: 'email' }
            %span Email
            %i.icon-emailalt
          = text_field_tag :email

        .input
          %label{ for: 'password' }
            %span Password
            %i.icon-lock
          = password_field_tag :password

      .submit
        %button.button Login