$button-background: #34495e;

.button {
  padding: 15px 20px;
  border: 0;
  color: white;
  font-size: $default-font-size;
  cursor: pointer;
  background: $button-background;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background: lighten($button-background, 10%);
  }

  &.add-to-cart {
    margin-top: 20px;
    display: block;
    position: absolute;
    bottom: $tile-padding;
    @include stretch-x($tile-padding, $tile-padding);
  }
}

a.button {
  display: inline-block;
  &:hover {
    color: white;
  }
}