.button {
  padding: 15px 20px;
  margin: 0;
  border: 0;
  color: white;
  font-size: $default-font-size;
  cursor: pointer;
  background: $button-background;
  text-align: center;
  text-transform: uppercase;
  @include box-sizing;
  @include hover-state($button-background);

  &.add-to-cart {
    margin-top: 20px;
    display: block;
    position: absolute;
    bottom: $tile-padding;
    @include stretch-x($tile-padding, $tile-padding);
  }
  &.grey {
    background: $dark-grey;
    @include hover-state($dark-grey);
  }
  &.red {
    $red-background: darken($red, 5%);
    background: $red-background;
    @include hover-state($red-background);
  }
  + .button {
    margin-left: 10px;
  }

  &.edit-button {
    position: absolute;
    bottom: $tile-padding;
    left: $tile-padding;
    width: 41%;
  }
  &.delete-button {
    position: absolute;
    bottom: $tile-padding;
    right: $tile-padding;
    width: 41%;
  }
  &.disabled {
    @include opacity(0.7);
    cursor: not-allowed;
    &:hover {
      background: darken($red, 5%);
    }
  }
}

a.button {
  display: inline-block;
  &:hover {
    color: white;
  }
}