.slogan {
  @include section-color($dark-grey);
  text-align: center;
  padding: 40px 0;
  min-width: $viewport-width;
  h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: DISCO, sans-serif;
    span {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

a [class^="icon-"]:first-child {
  position: relative;
  top: 2px;
}