%section.about-section
  .container
    %h3.header.center We want to share our love and passion of living a Healthy Lifestyle to everyone!
    .sidebar.justify
      %h3.center Did you know
      %strong 80%
      of your health and fitness goals are based off
      your nutrition? Your body is a finely tuned vehicle and if you fuel
      it properly it will run longer, stronger and more efficiently for you.
      Our goal is to get your body at an optimum level of performance by getting
      the daily nutrients you need to help you achieve all your goals. Whether those
      goals are for health or athletic fitness purposes, your first priority should be
      what your putting into your body! We want to help you be the best you can be
      through a healthy balanced way of living.
    %p
      BodyFuel sprouted as a simple idea and a tool we could use as Personal trainers to help our clients reach their goals.
      One of the biggest obstacles in reaching your health and fitness goals is the nutrition aspect.
      We wanted to eliminate the stress of calorie counting, meal planning and preparation.
      Bodyfuel is FAST. HEALTHY. CONVENIENT. We pride ourselves in what we do. If you have a desire to eat healthier,
      have fresh ready-to-eat meals without the hassle of cooking and time consuming preparation, that’s what we do.
      We strive to make it an easy process from start to finish. First, we consult with you to determine your goals and how our
      services can meet your specific needs. Second, we get to work on building a meal plan. We prepare your meals Monday through Friday,
      each day will include four to six meals depending on your meal plan.

    .content
      %blockquote
        %h3 Let food be thy medicine and let thy medicine be food
        %p - Hippocrates