%section
  .container
    %h2.center We would love to hear from you

%section
  .container
    = form_tag contact_path, method: :post, class: 'contact' do
      .input-container
        .input.input-left
          %label{ for: 'name' } Name
          = text_field_tag :name

        .input.input-right
          %label{ for: 'email' } Email
          = text_field_tag :email

        .input
          %label{ for: 'message' } Message
          = text_area_tag :message

      .submit
        %button.button Submit