%section.hero-unit
  .container
    %h1 PREPARATION. DEDICATION. SUCCESS.

%section.slogan
  .container
    %h2 Fuel for your body slogan here

%section
  .container
    .info-section
      %h3
        %span.icon-fire.orange
        %br
        Benefit 1
      .details
        Donec eu lectus a dui fringilla adipiscing. Etiam faucibus rhoncus sollicitudin. Sed nec urna a eros vehicula convallis et sed leo. Morbi congue justo vel.
    .info-section
      %h3
        %span.icon-leaf.leaf-green
        %br
        Benefit 2
      .details
        Donec eu lectus a dui fringilla adipiscing. Etiam faucibus rhoncus sollicitudin. Sed nec urna a eros vehicula convallis et sed leo. Morbi congue justo vel.
    .info-section
      %h3
        %span.icon-tshirt.yellow
        %br
        Benefit 3
      .details
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue, metus dignissim iaculis imperdiet, sem elit eleifend magna, ac tincidunt massa arcu at felis.