- content_for :angular_app do
  mealsListApp

- content_for :angular_controller do
  MealsCtrl

.modal.fade#meals
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' } &times;
        %h4 {{ modalInfo.name }}
      .modal-body
        %img{ 'ng-src' => '{{ modalInfo.meal_large }}' }
        %p{ 'ng-bind-html-unsafe' => 'modalInfo.description | newlines' }

%section
  .container
    %h2.center Menu
    .tiles-4.meals
      = link_to '', 'ng-repeat' => 'meal in meals | orderBy:"id":true', class: 'tile-item meal-tile', 'ng-click' => 'setModalInfo(meal)', 'data-toggle' => 'modal', 'data-target' => '#meals' do
        .meal-image
          %img{ 'ng-src' => '{{ meal.meal_tile }}' }
        .meal-name {{ meal.name | truncate }}


:javascript
  $(document).ready(function() {
    AngularDataSeed({
      meals: #{render partial: 'meals/meals', locals: { meals: @meals }, formats: [:json]}
    });
  })