%section
  .container
    %h1.center Shirts

%section{ 'ng-app' => 'cartsApp', 'ng-controller' => 'CartsCtrl'}
  .container
    %h3.center{ 'ng-show' => 'shirts.length == 0'} We are currently working on our inventory. Check back soon!
    .tiles-4.shirts.tab-section
      .tile-item.shirt{ 'ng-repeat' => 'shirt in shirts' }
        .product-box
          %img.design{ 'ng-src' => '{{ shirt.design_normal }}', 'ng-show' => 'shirt.design_normal' }
          %i.icon-tshirt.default-shirt{ 'ng-hide' => 'shirt.design_normal'}
        .product-details
          %h4.center {{ shirt.name }}
          .sizes
            %h5 Size
            %span{ 'ng-repeat' => 'size in shirt.sizes' }
              {{ size.size }}
          .colors
            %h5 Color
            .color{ 'ng-repeat' => 'color in shirt.colors' }
              %div{ 'ng-style' => '{"background-color": color.hex_value}' }
          %h5 Quantity
          = text_field_tag :quantity, nil, class: 'short', 'ng-model' => 'shirt.quantity'
          %span.price {{ shirt.price | currency }}
          .stock{ 'ng-show' => 'shirt.stock'} In Stock
          .stock{ 'ng-hide' => 'shirt.stock'} Out of Stock
          = link_to 'Add to Cart', '', class: 'button add-to-cart', 'ng-click' => 'add_product(shirt)'

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.tiles-4');
    AngularDataSeed({
      shirts: #{render partial: 'shirts/shirts', locals: { shirts: @shirts }, formats: [:json]},
      cart: #{current_cart.to_json}
    });
  })