%section
  .container
    %h1.center Products

%section{ 'ng-app' => 'cartsApp', 'ng-controller' => 'CartsCtrl'}
  .container
    .tabs
      = link_to '#food', class: 'tab selected', 'data-show' => 'food' do
        %span Food
      = link_to '#shirts', class: 'tab', 'data-show' => 'shirts' do
        %span Shirts
    .tiles-3.food.tab-section
      - 10.times do |n|
        .tile-item
          %h3 Food
    .tiles-4.shirts.tab-section
      - 15.times do |n|
        .tile-item
          %h3 T-shirt
          .product-box
            product image here
          .product-details
            .sizes
              %h5 Size
              %span S
              %span M
              %span L
              %span XL
              %span XXL
            .colors
              %h5 Color
              .color
                .white
              .color
                .orange
              .color
                .green
              .color
                .black
              .color
                .red
            %h5 Quantity
            = text_field_tag :quantity, nil, class: 'short'
            %span.price $19.99
            .stock In Stock
            %button.button.add-to-cart{ 'ng-click' => 'add_product()'} Add to Cart

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.tiles-4');
    new Pages.Order();
    new Components.Tabs();
  })