.checkout {
  background: white;
  border: 1px solid #CCC;
  .checkout-inner {
    padding: 20px;
  }
}

.order-details {
  margin-top: 50px;
}

.customer-info-row {
  font-size: 14px;
  span {
    font-size: 16px;
  }
}

.cart-total {
  font-size: 30px;
  margin: 0 0 30px;
  padding: 20px 0 0 50px;
  h3 {
    margin-right: 20px !important;
  }
}

table.full-width {
  @include box-sizing;
  width: 100%;
  [class^="icon-"] {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
  thead {
    background: $light-background;
    td {
      font-weight: bold;
      font-size: 20px;
      padding: 20px;
    }
  }
  tbody {
    tr {
      &:first-child {
        td {
          padding-top: 20px;
        }
      }
      &:last-child {
        td {
          padding-bottom: 25px;
        }
      }
    }
  }
  td {
    padding: 10px 20px;
    &.name {
      width: 250px;
    }
    &.trash {
      width: 50px;
      padding-right: 20px;
      text-align: right;
    }
    &.total {
      width: 100px;
    }
    &.quantity {
      width: 150px;
    }
    &.shirt-total {
      width: 10%;
    }
    &.order-number {
      width: 150px;
    }
    &.email {
      width: 205px;
    }
    &.customer-name {
      width: 180px;
    }
    &.notes {
      width: 300px;
    }
    &.fulfilled {
      text-align: right;
      [class*="icon-"] {
        color: $green;
        font-size: 24px;
      }
    }
  }
  .colors, .sizes, .color {
    margin: 0;
  }
  .sizes {
    margin-top: -6px;
    span {
      margin: 0;
    }
  }
  .icon-trash {
    color: $red;
  }
}