footer {
  @include section-color($dark-grey);
  line-height: $footer-height;
  .copyright {
    line-height: 40px;
  }
  .social-links {
    float: right;
  }
}

.facebook {
  font-size: $default-font-size + 4px;
  padding: 5px;
  line-height: $default-font-size + 4px;
  display: block;
  margin-top: 15px;
  @include section-color($dark-grey);
  &:hover {
    @include section-color($white);
    @include border-radius(50%);
  }
}