footer {
  margin: 30px auto 0;
  @include section-color($dark-grey);
  line-height: $default-font-size * 2;
  border-top: 1px solid #Ccc;
  padding: 10px 0;
  .copyright {
    line-height: 40px;
  }
  .social-links {
    float: right;
  }
}

.facebook {
  font-size: $default-font-size + 4px;
  padding: 5px;
  line-height: 40px;
  @include section-color($dark-grey);
  &:hover {
    @include section-color($white);
    @include border-radius(50%);
  }
}