@include sticky-footer($footer-height, '.wrapper', '.push', 'footer');

body {
  @include section-color($dark-grey);
  font: {
    family: $default-font-family;
    size: $default-font-size;
  }
}

a {
  color: $dark-grey;
  text-decoration: none;
  &:hover {
    color: $dark-grey;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: {
    weight: bold;
    family: inherit;
  }
  color: inherit;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

section {
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
}

.container {
  max-width: $viewport-width;
  margin: 0 auto;
  @include clearfix;
}

// Color Classes
.orange {
  color: $orange;
}

.leaf-green {
  color: $leaf-green;
}

.yellow {
  color: $yellow;
}