@include sticky-footer($footer-height, '.wrapper', '.push', 'footer');

body {
  @include section-color($white);
  font: {
    family: $default-font-family;
    size: $default-font-size;
  }
  line-height: 22px;
}

a {
  color: $dark-grey;
  text-decoration: none;
  &:hover {
    color: $dark-grey;
  }
}

%base-header {
  font: {
    weight: bold;
    family: inherit;
  }
  color: inherit;
  margin: 10px 0;
  text-transform: uppercase;
  .tile-item &:first-child {
    margin-top: 0;
  }
  .tile-item &:last-child {
    margin-bottom: 0;
  }
}

h1 { @extend %base-header; font-size: 36px; }
h2 { @extend %base-header; font-size: 32px; }
h3 { @extend %base-header; font-size: 24px; }
h4 { @extend %base-header; font-size: 18px; }
h5 { @extend %base-header; font-size: 14px; }
h6 { @extend %base-header; font-size: 12px; }

section {
  margin: 30px 0;
  h2 {
    text-align: center;
  }
}

.container {
  width: $viewport-width;
  margin: 0 auto;
  @include clearfix;
}

.view-more {
  float: right;
}

blockquote {
  position: relative;
  padding-left: 70px;
  box-sizing: border-box;
  h3 {
    margin-top: 0;
  }
  p {
    font-size: 18px;
    color: #878787;
  }
  &:before {
   content: "\201C";
    font: {
      family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
      size: 105px;
    }
    position: absolute;
    top: 27px;
    left: 0;
    color: #878787;
  }
}

.center {
  text-align: center;
}

div {
  > h3 {
    margin: 0 0 20px;
  }
}

.sidebar {
  width: $sidebar-width;
  float: left;
  box-sizing: border-box;
  background: white;
  border: 1px solid #CCC;
  padding: 20px;
  &.justify {
    text-align: justify;
  }
}
.content {
  width: $content-width;
  float: right;
  box-sizing: border-box;
}