@include sticky-footer(40px, '.wrapper', '.push', 'footer');

body {
  background: $dark-grey;
  color: $silver;
  font: {
    family: $default-font-family;
    size: 16px;
  }
}

a {
  color: $dark-grey;
  text-decoration: none;
  &:hover {
    color: $dark-grey;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: {
    weight: bold;
    family: inherit;
  }
  color: inherit;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.container {
  max-width: $viewport-width;
  margin: 0 auto;
  @include clearfix;
}