header {
  padding: 15px 0;
  margin: 0 auto -30px;
  @include section-color($white);
}

.logo {
  float: left;
  background: url(logo.png);
  width: image-width('logo.png');
  height: image-height('logo.png');
}

nav {
  float: right;
  margin: 82px 0 0 40px;
  ul {
    li {
      display: inline-block;
      font-size: 24px;
      margin-left: 80px;
      @include box-sizing;
      @include border-radius;
      @include transition(all 0.2s);
      &:first-child {
        margin-left: 0;
      }
      a {
        display: block;
        padding: 10px;
      }
      &:hover {
        background: $green;
        @include transition(all 0.5s);
        a {
          color: $silver;
        }
      }
    }
  }
}