header {
  padding: 15px 0;
  margin: 0 auto -30px;
  @include section-color($white);
  .admin & {
    margin: 0 auto;
    padding: 0;
    .container {
      &:after {
        clear: both;
        display: block;
        content: "";
      }
    }
  }
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  background: $dark-grey;
  color: white !important;
  padding: 3px 1px 4px 7px;
  z-index: 9999;
  @include border-radius(3px);
  .cart-description {
    text-align: center;
    @include border-radius(2px);
    background: white;
    color: $text-grey;
    padding: 5px 10px;
    z-index: 999;
    position: relative;
    @include transition(all 0.5s);
  }
  .arrow {
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 2px;
    line-height: 32px;
    height: 30px;
    @include border-right-radius(2px);
    z-index: 0;
  }
  i {
    position: relative;
    top: 2px;
    padding: 5px;
    line-height: 20px;
  }
  @include transition(all 0.5s);

  &:hover {
    background: $red;
    .cart-description {
      right: 37px;
    }
  }
}

.logo {
  float: left;
  width: image-width('logo.png');
  height: image-height('logo.png');

  .admin & {
    width: image-width('logo_admin.png');
    height: image-height('logo_admin.png');
  }
}

nav {
  float: right;
  margin: 82px 0 0 40px;
  .admin & {
    margin: 0;
  }
  ul {
    position: relative;
    li.dropdown-menu {
      position: relative;
      &:hover {
        > ul {
          display: block
        }
      }
    }
    li {
      display: inline-block;
      font-size: 24px;
      margin-left: 80px;
      @include box-sizing;
      @include border-radius;
      @include transition(all 0.2s);
      &:first-child {
        margin-left: 0;
      }
      a {
        display: block;
        padding: 10px;
        .admin & {
          padding: 18px 22px;
          color: white;
        }
      }
      &:hover {
        background: $green;
        @include transition(all 0.5s);
        a {
          color: $silver;
          .admin & {
            color: white;
          }
        }
        .admin & {
          background: lighten($dark-grey, 10%);
        }
      }
      .admin & {
        font-size: 18px;
        margin-left: 0;
        display: block;
        float: left;
        @include border-radius(0);
        background: $dark-grey;
        border-right: 1px solid #CCC;
        &:last-child {
          border-right: 0;
        }
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      border-top: 1px solid #CCC;
      white-space: nowrap;
      z-index: 9999;
      li {
        float: none !important;
        position: relative;
        border-right: 0 !important;
        border-bottom: 1px solid #CCC;
        width: 100%;
        &:last-child {
          border-bottom: 0;
        }
        a {
          font-size: 16px;
          padding: 14px 16px !important;
          span[class^="icon-"] {
            position: relative;
            top: 3px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}