.orders {
  .details {
    margin: 20px;
    background: $dark-grey;
    color: white;
    @include box-sizing;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .small {
    font-size: 12px;
  }
  h2 {
    margin-left: 20px;
  }

  .shipping-information {
    margin-top: 20px;
    padding: 0 20px;
  }

  table {
    a {
      color: $link-color;
    }
    thead {
      [class*="icon-"] {
        cursor: pointer;
        color: $link-color;
      }
    }
    .new {
      background: $green;
      color: white;
      padding: 3px 5px;
      position: relative;
      margin-right: 10px;
      font-size: 12px;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        @include arrow(right, $green, 10px);
      }
    }
  }
}