.shirt-button {
  margin-top: 30px;
}

.default-shirt {
  font-size: 150px;
  line-height: 150px;
  display: block;
  text-align: center;
  @include box-sizing;
  &.default-preview {
    margin: 20px;
  }
}

.image-preview {
  float: right;
  width: 400px;
  @include box-sizing;
  position: relative;
  label {
    float: left;
    line-height: 48px;
  }
  input[type=file] {
    float: right;
    width: 166px;
    height: 48px;
    margin-bottom: 15px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    @include opacity(0);
    &:hover {
      + .upload-button {
        background: lighten($button-background, 10%);
      }
    }
  }
  .preview {
    clear: both;
    border: 1px solid #CCC;
    float: right;
    display: inline-block;
    margin-bottom: 20px;
    img {
      display: block;
      margin: 0 auto;
      max-width: 360px;
      max-height: 580px;
      margin: 20px;
      height: auto;
      width: auto;
    }
  }
  .upload-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.design {
  max-height: 150px;
  display: block;
  margin: 0 auto;
  @include box-sizing;
}

%common-tile-container { margin-top: 40px; }
.shirts {
 @extend %common-tile-container;
  .tile-item {
    padding: 0 !important;
    img { width: 100%; }
  }
}
.meals { @extend %common-tile-container; }

.new-shirt, .new-meal {
  position: absolute;
  top: -10px;
  left: 0;
}

.input.stock {
  [class*="icon-"] {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-left: 5px;
    cursor: pointer;
  }

  .icon-circleselect {
    color: $green;
  }
}