%ul.steps.clearfix
  %li{ class: step_class(1, step) } Shopping Cart
  %li{ class: step_class(2, step) } Checkout
  %li{ class: step_class(3, step) } Payment
  %li{ class: step_class(4, step) } Confirmation