- content_for :angular_app do
  cartShirtsApp

- content_for :angular_controller do
  CartShirtsCtrl

%section
  .container.cart-summary
    %h3 Cart
    %table.cart-shirts
      %thead
        %tr
          %td.name Product
          %td Price
          %td Color
          %td Size
          %td.quantity Quantity
          %td.total Total
          %td.trash
      %tbody
        %tr{ 'ng-repeat' => 'shirt in cart.cart_shirts' }
          %td {{ shirt.name }}
          %td {{ shirt.price | currency }}
          %td
            .colors
              .color
                %div{ 'ng-style' => '{"background-color": shirt.hex_value}' }
          %td
            .sizes
              %span {{ shirt.size }}
          %td
            %input.medium{ type: 'text', 'ng-model' => 'shirt.quantity', 'text-blur' => 'validate_shirt(shirt)', 'ng-class' => '{ error: errors[shirt.id].quantity }' }
            .alert.error{ 'ng-show' => 'errors[shirt.id].quantity' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "quantity")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].quantity }}
          %td.total {{ total(shirt) | currency }}
          %td.trash
            = link_to '', 'fade-out' => 'delete(shirt)' do
              %i.icon-trash

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      cart: #{render partial: 'carts/cart', locals: { cart: current_cart }, formats: [:json]}
    });
  });