- content_for :angular_app do
  cartShirtsApp

- content_for :angular_controller do
  CartShirtsCtrl

%section
  .container.checkout.clearfix
    .checkout-inner
      = render 'steps', step: 1
    %h4.center.spacious{ 'ng-hide' => 'has_shirts()' } There are no items in your cart
    %table.cart-shirts{ 'ng-show' => 'has_shirts()'}
      %thead
        %tr
          %td.name Product
          %td Price
          %td Color
          %td Size
          %td.quantity Quantity
          %td.total Total
          %td.trash
      %tbody
        %tr{ 'ng-repeat' => 'shirt in cart.cart_shirts' }
          %td
            %i.icon-tshirt
            {{ shirt.name }}
          %td {{ shirt.price | currency }}
          %td
            .colors
              .color
                %div{ 'ng-style' => '{"background-color": shirt.hex_value}' }
          %td
            .sizes
              %span {{ shirt.size }}
          %td
            %input.medium{ type: 'text', 'ng-model' => 'shirt.quantity', 'text-blur' => 'update_shirt(shirt)', 'enter-pressed' => 'blur', 'ng-class' => '{ error: errors[shirt.id].quantity }' }
            .alert.error{ 'ng-show' => 'errors[shirt.id].quantity' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "quantity")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].quantity }}
          %td.total {{ total(shirt) | currency }}
          %td.trash
            = link_to '', 'fade-out' => 'delete(shirt)' do
              %i.icon-trash
    .checkout-inner{ 'ng-show' => 'has_shirts()'}
      .cart-total.pull-right
        %h3.inline Total
        %span {{ cart.total | currency }}
    .submit.clear
      = link_to '&larr; Back to shopping'.html_safe, order_path, class: 'button grey pull-left'
      .pull-right{ 'ng-class' => '{ disabled: !has_shirts() }' }= link_to 'Checkout &rarr;'.html_safe, checkout_path, class: 'button pull-right red', 'eat-click' => '!has_shirts()'

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      cart: #{render partial: 'carts/cart', locals: { cart: current_cart }, formats: [:json]}
    });
  });