// Compass defaults
$default-border-radius: 3px;

@import 'compass';
@import 'compass/layout';
@import 'compass/utilities';

// Sizes
$viewport-width: 1280px;
$footer-height: 60px;
$content-width: 950px;
$gutter-width: 30px;
$sidebar-width: $viewport-width - $content-width - $gutter-width;

$h1-size: 36px;
$h2-size: 32px;
$h3-size: 24px;
$h4-size: 18px;
$h5-size: 14px;
$h6-size: 12px;

// Fonts
$default-font-family: Corbert, sans-serif;
$default-font-size: 16px;

// Colors
$dark-grey: #666D71;
$dark-highlight: #444;
$text-grey: #464646;
$silver: #ECF0F1;
$green: #7EB348;
$white: #ECF0F1;
$orange: #E69E22;
$leaf-green: #21EF11;
$yellow: #FBF27D;
$light-background: #F8F8F8;

// Tiles
$tile-padding: 20px;
$tile-margin: 20px;

// Extra mixins
@mixin section-color($background-color) {
  background: $background-color;
  color: contrast-color($background-color, $text-grey, $silver, 50%);
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}