@font-face {
  font: {
    family: 'Impact Label';
    style: normal;
    weight: normal;
  }
  src: url('Impact_Label.ttf');
  -moz-font-feature-settings: "calt=0,liga=0";
}

@font-face {
  font: {
    family: DISCO;
    style: normal;
    weight: normal;
  }
  src: url('DISCO.ttf');
  -moz-font-feature-settings: "calt=0,liga=0";
}