@font-face {
  font: {
    family: DISCO;
    style: normal;
    weight: normal;
  }
  src: url('DISCO.ttf');
  -moz-font-feature-settings: "calt=0,liga=0";
}

@font-face {
  font: {
    family: Corbert;
    style: normal;
    weight: normal;
  }
  src: url('Corbert_Regular_Regular.otf');
  -moz-font-feature-settings: "calt=0,liga=0";
}